# set PATH so it includes user's private bin if it exists
if [ -d "$HOME/bin" ] ; then
    export PATH="$HOME/bin:$PATH"
fi

# set PATH so it includes user's private bin if it exists
if [ -d "$HOME/.local/bin" ] ; then
    export PATH="$HOME/.local/bin:$PATH"
fi

# set PATH so it includes user's cargo bin if it exists
if [ -d "$HOME/.cargo/bin" ] ; then
    export PATH="$HOME/.cargo/bin:$PATH"
fi

# set PATH so it includes homebrew bin if it exists
if [ -d "/home/linuxbrew/.linuxbrew/bin" ] ; then
    eval $(/home/linuxbrew/.linuxbrew/bin/brew shellenv)
fi

# set PATH so it includes Android platform tools if they exist
if [ -d "$HOME/Android/Sdk/platform-tools" ] ; then
    PATH="$PATH:$HOME/Android/Sdk/platform-tools"
fi

# enable NVM if it exists
if [ -d "$HOME/.nvm" ] ; then
    export NVM_DIR="$HOME/.nvm"
    [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh" # This loads nvm
    [ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion" # This loads nvm bash_completion
fi

# enables bob if it exists
if [ -d "$HOME/.local/share/bob/nvim-bin" ] ; then
    export PATH="$HOME/.local/share/bob/nvim-bin:$PATH"
fi

# set PATH so it includes anaconda if it exists
if [ -d "$HOME/anaconda3" ] ; then
    export PATH="$PATH:$HOME/anaconda3/bin"
fi
