{{ if eq .chezmoi.os "windows" }}
Write-Output "Brew is unavailable on Windows..."
{{ else }}#!/usr/bin/env bash

# Check if Homebrew is installed
if ! command -v brew &>/dev/null; then
    echo "Homebrew not found. Installing Homebrew..."
    /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"

    # Add Homebrew to PATH after installing
    eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
else
    echo "Homebrew is already installed."
fi

echo "Installing programs..."
brew install lazygit fd ripgrep
{{ end }}
